body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #212121;
  line-height: 1.5em;
}

body h1, body h2, body h3 {
  color: #000000;
}

body h1 {
  font-size: 2.5em;
}

body h2 {
  font-size: 2em;
}

body h3 {
  font-size: 1.5em;
}

body a {
  text-decoration: none;
  color: #0099ff;
}

body a:hover {
  text-decoration: underline;
}

body .task-not-started {
  color: #630b0b;
}

body .task-in-progress {
  color: #e6c80b;
}

body .task-done {
  color: #0bbe37;
}

body .task-rejected {
  color: #969696;
}